<!DOCTYPE html>
<html>
  <head>
    <title>Travelatr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Travelatr </h1>
    <ul>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
      <li style="color:red">
        <%= error %>
      </li>
        <% end %>
        <% flash.clear %>
      <% end %>
      </ul>

    <%= yield %>
  </body>
</html>
